.info {
  width: 10em;
}

.picture {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 100vh;
  background: var(--bg-dark);
  overflow: hidden;
}

.picture img {
  width: 100%;
  object-fit: contain;
}

.picture:hover,
.picture:focus {
  outline: none;
  box-shadow: var(--outline);
}
