.movieCard {
  width: 10rem;
}

.noImg {
  width: 10rem;
  height: 15rem;
  background: var(--bg-dark);
  border-radius: 0.25rem;
}

.movieCard img {
  width: 100%;
}

.movieCard img:hover {
  box-shadow: 0 0 0 4px #fffd;
}

.movieCard img:focus {
  outline: none;
  box-shadow: 0 0 0 4px #fffd;
}
