.movieCard {
  --card-width: 200px;
  width: var(--card-width);
}

.noImg {
  width: var(--card-width);
  height: calc(var(--card-width) * 1.5);
  background: var(--bg-dark);
  border-radius: 0.25rem;
}

.movieCard img {
  width: 100%;
}

.movieCard img:hover,
.movieCard a:focus img {
  outline: none;
  box-shadow: var(--outline);
}
