.movieCard {
  width: 10rem;
}

.movieCard img {
  width: 100%;
}

.info {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: -2.5rem;
  position: relative;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vh;
  height: 3em;
  aspect-ratio: 1;
  background: var(--color-accent);
  margin-left: auto;
  box-shadow: 0 0 1rem black;
}
