.topSection img {
  width: 12rem;
  border-radius: 0.25rem;
}

.topSection h3 {
  background: var(--color-accent);
  padding: calc(var(--gap) / 2);
  border-radius: 0.25rem;
}

.actorList {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);
  list-style: none;
  padding-left: 0;
  width: max-content;
  margin: 0 auto;
}

.noImg {
  width: 10rem;
  height: 15rem;
  background: var(--bg-dark);
  border-radius: 0.25rem;
}

.whiteSpace {
  white-space: pre-wrap;
}

@media screen and (min-width: 520px) {
  .actorPage main {
    top: -13rem;
  }

  .topSection {
    display: flex;
    align-items: end;
    gap: var(--gap);
  }

  .topSection h2 {
    margin: 0;
  }

  .actorList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .actorList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
