.moviePage main {
  max-width: 800px;
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-bottom: var(--gap);
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: calc(-33vh + var(--gap));
}

.backdrop {
  width: 100%;
  height: 33vh;
  position: relative;
}
.backdrop::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #0004, #000);
}
.backdrop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actorList {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);
  list-style: none;
  padding-left: 0;
  width: max-content;
  margin: 0 auto;
}

@media screen and (min-width: 520px) {
  .moviePage main {
    top: -13rem;
  }

  .topSection {
    display: flex;
    align-items: end;
    gap: var(--gap);
  }

  .actorList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .actorList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
